<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>关于我</title>
</head>
<body>

    <!--导航-->
    <nav th:replace="_fragments :: menu(5)" >
    </nav>

    <!--中间内容-->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="https://picsum.photos/id/1047/800/600" alt="" class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text-thin">test</p>
                        <p class="m-text-thin">test</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic label left pointing m-margin-tb-tiny">编程</div>
                        <div class="ui orange basic label left pointing m-margin-tb-tiny">象棋</div>
                        <div class="ui orange basic label left pointing m-margin-tb-tiny">麻将</div>
                        <div class="ui orange basic label left pointing m-margin-tb-tiny">痒痒鼠</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic label left pointing m-margin-tb-tiny">Java</div>
                        <div class="ui teal basic label left pointing m-margin-tb-tiny">sql</div>
                        <div class="ui teal basic label left pointing m-margin-tb-tiny">JQuery</div>
                        <div class="ui teal basic label left pointing m-margin-tb-tiny">Python</div>
                        <div class="ui teal basic label left pointing m-margin-tb-tiny">...</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a class="ui circular icon button" href="#"><i class="github icon"></i></a>
                        <a class="ui wechat circular icon button" href="#"><i class="weixin icon"></i></a>
                        <a class="ui qq circular icon button" href="#" data-content="QQ:794357265" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img src="../static/images/wechat_qrcode.png" alt="" class="ui rounded image" style="width:100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!--底部-->
    <footer th:replace="_fragments :: footer">
    </footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->


<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass ('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });

    $('.qq').popup();
</script>
</body>
</html>